.articles-body{
    background-image: url('../images/homepage-img.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.article-img{
    width: 100%;
    min-height:100vh; 
}

.article-container{
    padding: 100px 0;
    margin-left: 10%;
    width: 80%;
    height: 100%;
}

.article-container-contents{
    background-color: white;
    width: 100%;
    padding: 1.5%;
    box-shadow: 0 0 100px #000000;
}

.articles-header{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-align: center;
    padding: 1%;
}

.article-content{
    width: 100%;
    position: relative;
    padding: 20px;
}

.article-image{
    width: 100%;
    max-height: 400px!important;
}

.fakeimg{
    max-height: 400px!important;
}

.article-display{
    padding: 30px;
}

.search-container{
    margin-bottom: 50px!important;
    position: relative;
}

.search-icon-container{
    position: absolute;
    top: 8px;
    left: 8px;
}

#article-input{
    padding-left: 30px;
}