.question-containers{
    margin-top: 70px;
    margin-left: 10%;
    width: 80%;
    padding: 50px;
    background-color: white;
    color: black;
    border-radius: 25px;
    border : 2px solid grey;
    box-shadow: 10px 10px grey;
}

.form-check-input{
    position: relative;
}

.questions-ask{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-check{
    font-size: 20px;
    margin-left: 5px;
}

.form-check-label{
    font-size: 17px;
}

.question-indicator{
    font-size: 20px;
    color: black;
}