*{
    margin: 0;
    padding: 0;
}

.body-content{
    width: 100%;
    min-height:100vh;    
}

.bg-nav{
    background-color: white;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.2); 
    
}

.navbar-brand{
    font-size:xx-large;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold!important;
    color: black!important;
}

.nav-link{
    font-size:large;
    font-weight: bold!important;
    color: rgb(146, 146, 146)!important;
}

.nav-link:hover{
    color: black!important;
}

.navbar-toggler{
    border: 1px solid white!important;
}

.navbar-toggler-icon{
    background-image: none;
    position: relative;
    top: 1px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
}