*{
    margin: 0;
    padding: 0;
}

.body-content{
    min-height:100vh;    
    position:relative;
}

.bg-nav{
    background-color: #00c2cb;
}

.navbar-brand{
    font-weight: bold!important;
    color: white!important;
}

.nav-link{
    font-weight: bold!important;
    color: white!important;
}

.nav-link:hover{
    color: rgb(146, 146, 146)!important;
}

.navbar-toggler{
    border: 1px solid white!important;
}

.navbar-toggler-icon{
    background-image: none;
    position: relative;
    top: 1px;
}

.articles-body{
    
}

.article-body-img{
    width: 100vw;
}

.article-img{
    width: 100%;
}

.articles-header{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-align: center;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #00c2cb;
    color: white;
    text-align: center;
  }